 <div class = "footer-container container">
     <div>
         <h2>PhotoStudio</h2>
     </div>
     <div>
         <h3>Бесплатная подписка!</h3>
         <p>Получайте различные предложения и акции на электронную почту! Все это совершенно бесплатно.</p>
         <div class = "subs">
             <i class = "fas fa-envelope"></i>
             <input type="email" id="email" placeholder="Эл. почта">
             <button type = "submit">ПОДПИСАТЬСЯ</button>
         </div>
     </div>
 </div>
 
 <p>&copy; Copyright SamatStudio</p>
 